/* original */
/* ############################################################################ */
/* navbar */
.App {
    text-align: center;
}
/* .navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}
.navbar a {
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;
}

.navbar a:hover {
    background: #ddd;
}

.main {
    margin-top: 30px;
} */

#header {
    background-color: white;
    padding: 10px 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    position: fixed;
    top: 0;
    width: 100%;
    transition: 0.2s;
}
/* ###################################################################################### */
/* parallax */
:root {
    --image1: url("../public/gradient1.jpg");
    --image2: url("../public/forest.jpg");
    --image3: url("../public/wood_light.jpg");
    --image4: url("../public/cypher.jpg");
}

@media only screen and (max-width: 780px) {
    div.auto-style16 {
        height: 5px;
        padding-top: 30px;
    }
}

@media only screen and (max-width: 375px) {
    div.auto-style16 {
        height: 55px;
        padding-top: 0px;
    }
}

@media only screen and (max-width: 320px) {
    div.auto-style16 {
        height: 95px;
        padding-top: 10px;
    }
}

.pimg1 {
    position: relative;
    opacity: 1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.pimg1 {
    background-image: var(--image2);
    min-height: 100vh;
    min-width: 100vw;
}

.section {
    text-align: center;
}

.backGround {
    background-image: var(--image3);
    min-height: 100vh;
    min-width: 100vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
}
/* ###################################################################################### */
